<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t("name") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t("birthday") %><br>
    <%= f.text_field :birthday %>
  </div>
  <div class="field">
    <%= f.label t("adress") %><br>
    <%= f.text_field :adress %>
  </div>
  <div class="field">
    <%= f.label t("email") %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit t("new_user") %>
  </div>
<% end %>
