<h1><%= t('list_users') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('birthday') %></th>
      <th><%= t('adress') %></th>
      <th><%= t('email') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.birthday %></td>
        <td><%= user.adress %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('show'), user %></td>
        <td><%= link_to t('edit'), edit_user_path(user) %></td>
        <td><%= link_to t('destroy'), user, method: :delete, data: { confirm: t('are_you_sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_user') , new_user_path %>
