<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('birthday') %>:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong><%= t('adress') %>:</strong>
  <%= @user.adress %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @user.email %>
</p>

<%= link_to t('edit'), edit_user_path(@user) %> |
<%= link_to t('back'), users_path %>
