<h1><%= t('welcome') %></h1>

<%= link_to t('portuguese'), controller: "welcome", action: "pt" %> 
<%= link_to t('english'), controller: "welcome", action: "en" %> 

<%= link_to t('users'), controller: "users" %>
